<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/images/icon.png" />
{% block head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
{% endblock %}
</head>
<body>
<p>{% block nav %}Polifesto{% endblock %}</p>
{% block login %}
<p>{% if user %}
	<a href="{{ logout_url }}">Log Out</a>
	{% else %} <a href="/log-in">Log In</a> {% endif %}</p>
{% endblock %}
{% if message %}
<p>{{ message }}</p>
{% endif %} {% block content %} {% endblock %}
<ul>
<li><a rel="license"
	href="http://creativecommons.org/licenses/by-sa/2.0/uk/"><img
	alt="Creative Commons License" style="border-width:0"
	src="http://i.creativecommons.org/l/by-sa/2.0/uk/88x31.png" /></a>
This work is licenced under a <a rel="license"
	href="http://creativecommons.org/licenses/by-sa/2.0/uk/">Creative
Commons Licence</a>.</li>
<li><a href="https://github.com/tlocke/mread">Software</a></li>
<li><a href="http://blog.mtrhub.com/">Blog</a></li>
<li><a href="http://twitter.com/mtrhub">Twitter</a></li>
</ul>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1004155-10");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
