body {
	// position: absolute;
}

#footerlist
{
list-style: none;
padding: 0;
margin: 0;
text-align: center;
}

#footerlist li
{
display: inline;
padding: 0;
margin: 0;
}

#footerlist li:before { content: "| "; }
#footerlist li:first-child:before { content: ""; }

#login {
	position:absolute;
	right: 1em;
	top: 0em;
}
