body {
}

#login {
	float:right;
}

#nav {
	float:left;
}

#content {
	float: left;
	clear: both;
}

#footer {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 2em;
}

#footer > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#footer > ul > li {
	display: inline;
	padding: 0;
	margin: 0;
}

#footer > ul > li:before {
	content: "| ";
}

#footer > ul > li:first-child:before {
	 content: "";
}