body {
	font-family: 'Crimson Text', arial, serif;
	background-color: white;
}

table {
	border-collapse: collapse;
}

img {
	border-style: none;
}

td {
	border-style: solid;
	border-color: silver;
	border-width: thin;
	padding-left: 1em;
	padding-right: 1em;
}

th {
	border-style: solid;
	border-color: silver;
	border-width: thin;
}

#logo {
	font-family: 'VT323', arial, serif;
	font-size: xx-large;
}

#sign-in {
	float:right;
}

#nav {
	float:left;
}

#content {
	float: left;
	clear: both;
}

#footer {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 1em;
}

#footer > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#footer > ul > li {
	display: inline;
	padding: 0;
	margin: 0;
}

#footer > ul > li:before {
	content: "| ";
}

#footer > ul > li:first-child:before {
	 content: "";
}