<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/images/icon.png">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Crimson+Text:regular,regularitalic' rel='stylesheet' type='text/css'>
{% block head %}
{% endblock %}
<title>{% block title %}{% endblock %}</title>
<style>{% block style %}{% endblock %}</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1004155-11']);
  _gaq.push(['_setDomainName', '.mtrhub.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<p id="nav">{% block nav %}MtrHub{% endblock %}</p>
{% block login %}
<p id="sign-in">{% if user %}
                {% if current_reader %}
	<a href="/reader?reader_key={{ current_reader.key }}">{{ current_reader.name }}</a> | <a href="{{ signout_url }}">Sign Out</a>
	{% else %}
	<a href="/welcome">Welcome</a>
	{% endif %}
	{% else %} <a href="/sign-in">Sign In</a>{% endif %}</p>
{% endblock %}
<div id="content">{% if message %}
<p><em>{{ message }}</em></p>
{% endif %}{% block content %}{% endblock %}</div>
<div id="footer">
<ul id="footerlist">
<li><a href="http://twitter.com/mtrhub">Twitter</a></li>
<li><a href="http://blog.mtrhub.com/">Blog</a></li>
<li><a href="http://groups.google.com/group/mtrhub">Forum</a></li>
<li><a href="https://github.com/tlocke/mread/wiki">Software</a></li>
</ul>
</div>
</body>
</html>
