<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/images/icon.png" />
{% block head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1004155-11']);
  _gaq.push(['_setDomainName', '.mtrhub.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<p id="nav">{% block nav %}Polifesto{% endblock %}</p>
{% block login %}
<p id="login">{% if user %}
	<a href="{{ logout_url }}">Log Out</a>
	{% else %} <a href="/log-in">Log In</a> {% endif %}</p>
{% endblock %}
{% if message %}
<p>{{ message }}</p>
{% endif %}<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
<ul id="footerlist">
<li><a href="http://twitter.com/mtrhub">Twitter</a></li>
<li><a href="http://blog.mtrhub.com/">Blog</a></li>
<li><a href="http://groups.google.com/group/mtrhub">Forum</a></li>
<li><a href="https://github.com/tlocke/mread">Software</a></li>
</ul>
</div>
</body>
</html>
