{% extends "base.html" %}

{% block title %}MtrHub{% endblock %}

{% block logo %}{% endblock %}
{% block nav %}<span id="logo">MtrHub</span>{% endblock %}

{% block content%}
  {% if current_reader %}
    {% if candidate_customer_reads %}
      <ul>
        {% for cand in candidate_customer_reads %}
          <li>
            <strong>Customer Read Prompt:</strong> The supplier hasn't been
            sent a read from the {{ cand.meter.utility_id }} meter
            {{ cand.meter.name }} for a while. You could
            <a href="/send_read?read_key={{ cand.key() }}">send the latest read
            to the supplier</a>.
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if meters %}
      <table><caption>Your Meters</caption>
        <tbody>
          {% for meter in meters %}
            <tr>
              <td>
                <a href="/view_meter?meter_key={{ meter.key() }}">{{ meter.name }}</a>
              </td>
              <td>{{ meter.utility_name() }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <p><a href="/add_meter">Add a meter</a></p>
  {% else %}
    <p>
      Welcome to MtrHub. Sign in to start storing electricity, gas and water
      meter readings for your property.
    </p>
  {% endif %}
  
  <h4>Latest Public Reads</h4>

  <ul>
    {% for read in public_reads %}
      <li>
        <a
         title="{{read.meter.utility_name()}} {{read.meter.name}} meter at {{read.read_date.strftime("%Y-%m-%d %H:%M")}}"
         href="/view_read?read_key={{ read.key() }}">{{ read.value }}
          {% for char in read.meter.units -%}
            {%- if char == '3' -%}
              <sup>3</sup>
            {%- else -%}
              {{ char }}
            {%- endif -%}
          {%- endfor -%}
        </a> by
        {{ read.meter.reader.name }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
