{% extends "base.html" %} {% block nav %}
<a href="/">MtrHub</a>
&gt; Meter {{ meter.key }}{% endblock %} {% block content %} 

<ul>
{% ifequal meter.editor.key editor.key %}
<li><form action="meter" method="post">
<fieldset><legend>Insert Read</legend> <input type="hidden"
	name="meter_key" value="{{ meter.key }}"> <input size="4"
	maxlength="4" name="read_year" value="{% if controls.read_year %}{{ controls.read_year }}{% else %}{{ now.year }}{% endif %}">-<select
	name="read_month">
	{% for month in months %}
	<option value="{{ month }}" {% if controls.read_month %}{% ifequal month controls.read_month %}selected="selected"{% endifequal %}{% else %}{% ifequal month now.month %}selected="selected"{% endifequal %}{% endif %}>{{ month }}</option>
	{% endfor %}
</select>-<select name="read_day">
	{% for day in days %}
	<option value="{{ day }}" {% ifequal day now.day %}selected="selected"{% endifequal %}>{{ day }}</option>
	{% endfor %}
</select> <select name="read_hour">
	{% for hour in hours %}
	<option value="{{ hour }}" {% ifequal hour now.hour %}selected="selected"{% endifequal %}>{{ hour }}</option>
	{% endfor %}
</select>:<select name="read_minute">
	{% for minute in minutes %}
	<option value="{{ minute }}" {% ifequal minute now.minute %}selected="selected"{% endifequal %}>{{ minute }}</option>
	{% endfor %}
</select><br><br>
<label><input name="kwh" value="{{ controls.kwh }}"> kWh</label><br><br><input type="submit" value="Insert"></fieldset>
</form>
</li>
<li><form action="meter" method="post">
<fieldset>
<legend>Settings</legend>
<fieldset>
<legend>Remind me to take a reading</legend>
<input type="hidden" name="meter_key" value="{{ meter.key }}">
<label>Email Address <input name="email_address" value="{% ifequal meter.reminder_frequency 'never' %}{{ user.email }}{% else %}{{ meter.email_address }}{% endifequal %}"></label>
<select name="reminder_frequency">
<option value="never" {% if controls.reminder_frequency %}{% ifequal controls.reminder_frequency 'never' %}selected="selected"{% endifequal %}{% else %}{% ifequal meter.reminder_frequency 'never' %}selected="selected"{% endifequal %}{% endif %}>Never</option>
<option value="monthly" {% if controls.reminder_frequency %}{% ifequal controls.reminder_frequency 'monthly' %}selected="selected"{% endifequal %}{% else %}{% ifequal meter.reminder_frequency 'monthly' %}selected="selected"{% endifequal %}{% endif %}>Monthly</option>
</select>
</fieldset>
<br/>
<fieldset>
<legend>Sharing</legend>
<label>Public <input type="checkbox" name="is_public" value="True" {% if controls.settings %}{% if controls.is_public %}checked="checked"{% endif %}{% else %}{% if meter.is_public %}checked="checked"{% endif %}{% endif %}></label>
</fieldset>
<br/>
<input type="submit" name="settings" value="Update">
</fieldset>
</form></li>
{% ifnotequal meter.reminder_frequency 'never' %}<li>Last reminder sent: {{ meter.last_reminder }}</li>{% endifnotequal %}
<li><a href="upload?meter_key={{ meter.key }}">Upload a spreadsheet of reads</a></li>
{% endifequal %}
<li><a href="chart?meter_key={{ meter.key }}">Chart of last 12 months</a></li>
</ul>
<table>
	<capltion>Reads</caption>
	<tr>
		<th>View</th>
		<th>Date</th>
		<th>kWh</th>
	</tr>
	{% for read in reads %}
	<tr>
		<td><a href="/read?read_key={{ read.key }}">View</a></td>
		<td>{{ read.read_date }}</td>
		<td>{{ read.kwh }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
