{% extends "base.html" %}

{% block title %}MtrHub &gt; Meter: {{ meter.name }}{% endblock %}

{% block nav %}<a id="logo" href="/">MtrHub</a> &gt; Meter: {{ meter.name }}{% endblock %}

{% block content %} 
{% ifequal meter.reader.key current_reader.key %}
<table>
<tr><th>Utility</th><td>{{ meter.utility_name }}</td></tr>
<tr><th>Name</th><td>{{ meter.name }}</td></tr>
<tr><th>Time Zone</th><td>{{ meter.time_zone }}</td></tr>
<tr><th>Public?</th><td>{% if meter.is_public %}Yes{% else %}No{% endif %}</td></tr>
</table>
<br>
<form action="meter" method="post">
<fieldset><legend>Insert Read</legend> <input type="hidden"
	name="meter_key" value="{{ meter.key }}"> <input size="4"
	maxlength="4" name="read_year" value="{% if controls.read_year %}{{ controls.read_year }}{% else %}{{ now.year }}{% endif %}">-<select
	name="read_month">
	{% for month in months %}
	<option value="{{ month }}" {% if controls.read_month %}{% ifequal month controls.read_month %}selected="selected"{% endifequal %}{% else %}{% ifequal month now.month %}selected="selected"{% endifequal %}{% endif %}>{{ month }}</option>
	{% endfor %}
</select>-<select name="read_day">
	{% for day in days %}
	<option value="{{ day }}" {% ifequal day now.day %}selected="selected"{% endifequal %}>{{ day }}</option>
	{% endfor %}
</select> <select name="read_hour">
	{% for hour in hours %}
	<option value="{{ hour }}" {% ifequal hour now.hour %}selected="selected"{% endifequal %}>{{ hour }}</option>
	{% endfor %}
</select>:<select name="read_minute">
	{% for minute in minutes %}
	<option value="{{ minute }}" {% ifequal minute now.minute %}selected="selected"{% endifequal %}>{{ minute }}</option>
	{% endfor %}
</select><br><br>
<label><input name="value" value="{{ controls.value }}"> {{ meter.utility_units }}</label><br><br><input type="submit" value="Insert"></fieldset>
</form>
{% endifequal %}
<ul>
<li>{% if reads|length > 1 %}
	<a href="chart?meter_key={{ meter.key }}">Chart of last 12 months</a>
	{% else %}
	Once there are two or more reads, you'll be able to see a chart of the electricity
	consumption.
	{% endif %}
</li>
{% if reads|length > 0 %}
<li><a href="export-reads?meter_key={{ meter.key }}">Export reads as a CSV file</a></li>
{% endif %}
{% ifequal meter.reader.key current_reader.key %}
<li><a href="meter-settings?meter_key={{ meter.key }}">Meter Settings</a></li>
{% if meter.reminder_frequency != 'never' %}<li>Next reminder to be sent at: {{ meter.local_next_reminder|date:"Y-m-d H:i" }}</li>{% endif %}
<li><a href="upload?meter_key={{ meter.key }}">Upload a spreadsheet of reads</a></li>
{% endifequal %}
</ul>
<table>
	<caption>Reads</caption>
	<tr>
		<th>View</th>
		<th>Date</th>
		<th>{{ meter.utility_units }}</th>
	</tr>
	{% for read in reads %}
	<tr>
		<td><a href="/read?read_key={{ read.key }}">View</a></td>
		<td>{{ read.local_read_date|date:"Y-m-d H:i" }}</td>
		<td>{{ read.value }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
