{% extends "base.html" %}

{% block title %}MtrHub &gt; Meter: {{ read.meter.name }} &gt; Read {{ read.read_date|date:"Y-m-d H:i" }}{% endblock %}

{% block nav %}<a href="/">MtrHub</a> &gt; <a href="/meter?meter_key={{ read.meter.key }}">Meter: {{ read.meter.name }}</a> &gt; Read {{ read.read_date|date:"Y-m-d  H:i" }}{% endblock %}

{% block content %} 
{% ifequal read.meter.reader.key reader.key %}
<form action="read" method="post">
<fieldset><legend>Update Read</legend> <input type="hidden"
	name="read_key" value="{{ read.key }}"> <input size="4"
	maxlength="4" name="read_year" value="{% if controls.read_year %}{{ controls.read_year }}{% else %}{{ read.read_date.year }}{% endif %}">-<select
	name="read_month">
	{% for month in months %}
	<option value="{{ month.display }}" {% ifequal month.number read.read_date.month %}selected="selected"{% endifequal %}>{{ month.display }}</option>
	{% endfor %}
</select>-<select name="read_day">
	{% for day in days %}
	<option value="{{ day.display }}" {% ifequal day.number read.read_date.day %}selected="selected"{% endifequal %}>{{ day.display }}</option>
	{% endfor %}
</select> <select name="read_hour">
	{% for hour in hours %}
	<option value="{{ hour.display }}" {% ifequal hour.number read.read_date.hour %}selected="selected"{% endifequal %}>{{ hour.display }}</option>
	{% endfor %}
</select>:<select name="read_minute">
	{% for minute in minutes %}
	<option value="{{ minute.display }}" {% ifequal minute.number read.read_date.minute %}selected="selected"{% endifequal %}>{{ minute.display }}</option>
	{% endfor %}
</select> <br>
<br>
<label>Reading <input name="kwh" value="{{ read.kwh }}"> kWh</label> <br>
<br>
<input type="submit" value="Update"></fieldset>
</form>
<br>
<form action="read" method="post">
<fieldset><legend>Delete This Read</legend>
<input type="hidden" name="read_key" value="{{ read.key }}">
<input name="delete" type="submit" value="Delete"></fieldset>
</form>
{% endifequal %}
<br>

{% endblock %}
