{% extends "base.html" %}

{% block title %}MtrHub &gt; Meter: {{ read.meter.name }} &gt; Read {{ read.local_read_date|date:"Y-m-d H:i" }}{% endblock %}

{% block nav %}<a id="logo" href="/">MtrHub</a> &gt; <a href="/meter?meter_key={{ read.meter.key }}">Meter: {{ read.meter.name }}</a> &gt; Read {{ read.local_read_date|date:"Y-m-d  H:i" }}{% endblock %}

{% block content %} 

<table><caption>Meter</caption>
<tr><th>Utility</th><td>{{ read.meter.utility_name }}</td></tr>
<tr><th>Name</th><td>{{ read.meter.name }}</td></tr>
<tr><th>Time Zone</th><td>{{ read.meter.time_zone }}</td></tr>
<tr><th>Public?</th><td>{% if read.meter.is_public %}Yes{% else %}No{% endif %}</td></tr>
<tr><th>Reader</th><td>{{ read.meter.reader.name }}</td></tr>
</table>
<br>
<table><caption>Reading</caption>
<tr><th>Date</th><td>{{ read.local_read_date|date:"Y-m-d H:i" }}</td></tr>
<tr><th>Value</th><td>{{ read.value }}</td></tr>
</table>
{% ifequal read.meter.reader.key current_reader.key %}
<br>
<ul>
<li><a href="/send-read?read_key={{ read.key }}">Send this read to the {{ read.meter.utility_id }} company.</a></li>
<li><a href="/edit-read?read_key={{ read.key }}">Edit read</a></li>
</ul>
{% endifequal %}
{% endblock %}
