{% extends "base.html" %}

{% block title %}MtrHub &gt; Reader: {{ reader.name }} &gt; Settings{% endblock %}

{% block nav %}<a id="logo" href="/">MtrHub</a> &gt; <a href="/reader?reader_key={{ reader.key }}">Reader: {{ reader.name }}</a> &gt; Settings{% endblock %}

{% block content %}
{% if controls.delete %}

<form action="reader-settings" method="post"><fieldset><input type="hidden" name="reader_key" value="{{ reader.key }}">
<p>Are you sure you want to delete this account and all associated data including meters and reads?</p>
	<p>
	<a href="reader-settings?reader_key={{ reader.key }}">Cancel</a> <input type="submit" name="delete" value="Delete">
	</p></fieldset>
</form>
{% else %}
{% if controls.remove_openid %}
<p>Are you sure you want to remove the OpenId '{{ controls.openid }}'?</p>
	<p>
	<a href="reader-settings?reader_key={{ reader.key }}">Cancel</a> <form action="reader-settings"><fieldset><input type="hidden" name="reader_key" value="{{ reader.key }}"><input type="submit" name="remove_openid" value="Delete"></fieldset>
</form></p>
{% else %}

<form action="reader-settings" method="post">
<fieldset><legend>Update Reader</legend>
	<input type="hidden" name="reader_key" value="{{ reader.key }}">
	<label>Name <input name="name" value="{% if controls.name %}{{ controls.name }}{% else %}{{ reader.name }}{% endif %}"></label>
	<br>
	<br>
	<input type="submit" name="update" value="Update"></fieldset>
</form>
<br/>
<table><caption>OpenIds</caption>
{% for openid in reader.openids %}
<tr>
<td>{{ openid }}</td>{% if reader.openids|length > 1 %}<td><form action="reader-settings"><fieldset><input type="hidden" name="reader_key" value="{{ reader.key }}"><input type="hidden" name="openid" value="{{ openid }}"><input type="submit" name="delete_openid" value="Delete"></fieldset></form></td>{% endif %}
</tr>
{% endfor %}
</table>
<br>
<form action="reader-settings" method="post">
<fieldset><legend>Propose An OpenId To Add To The List</legend>
	<input type="hidden" name="reader_key" value="{{ reader.key }}">
	<label>OpenId <input name="proposed_openid" value="{% if controls.proposed_openid %}{{ controls.proposed_openid }}{% else %}{{ reader.proposed_openid }}{% endif %}"></label>
	<br>
	<br>
	<input type="submit" name="propose_openid" value="Propose"></fieldset>
</form>
<br>
<form action="reader-settings">
<fieldset><legend>Delete This Reader And All Associated Data</legend>
	<input type="hidden" name="reader_key" value="{{ reader.key }}">
	<input type="submit" name="delete" value="Delete"></fieldset>
</form>
{% endif %}
{% endif %}
{% endblock %}