{% extends "base.html" %}

{% block title %}
  MtrHub &gt; Meter: {{ read.meter.name }} &gt;
  Read {{ read.local_read_date().strftime("%Y-%m-%d %H:%M") }} &gt; Send
{% endblock %}

{% block style %}
  label {
    width: 16em;
    float: left;
  }
{% endblock %}

{% block nav %}
  <a href="/view_meter?meter_key={{read.meter.key()}}">Meter:
  {{ read.meter.name }}</a> &gt;
  <a href="/view_read?read_key={{ read.key() }}">Read
  {{ read.local_read_date().strftime("%Y-%m-%d  %H:%M") }}</a> &gt; Send
{% endblock %}

{% block content %}
  <form action="send_read" method="post">
    <fieldset>
      <legend>
        Update info for sending a read to the {{ read.meter.utility_id }}
        supplier
      </legend>
      <input type="hidden" name="read_key" value="{{ read.key() }}">
      <br>
      <label>
        Email address of {{ read.meter.utility_id }} supplier
      </label>
      {{ input_text('send_read_to', request, read.meter.send_read_to) }}
      <br>
      <label>Your name</label>
      {{ input_text('send_read_name', request, read.meter.send_read_name) }}
      <br>
      <label>Your email address</label>
      {{ input_text('send_read_reader_email', request,
        read.meter.send_read_reader_email) }}
      <br>
      <label>First line of address of meter</label>
      {{ input_text('send_read_read_address', request,
        read.meter.send_read_address) }}
      <br>
      <label>Postcode of meter</label>
      {{ input_text('send_read_postcode', request,
        read.meter.send_read_postcode) }}
      <br>
      <label>Account number</label>
      {{ input_text('send_read_account', request,
        read.meter.send_read_account) }}
      <br>
      <label>Meter serial number</label>
      {{ input_text('send_read_msn', request, read.meter.send_read_msn) }}
      <br>
      <br>
      <input type="submit" name="update" value="Update">
    </fieldset>
  </form>
  <br>
  <form action="send_read" method="post">
    <fieldset>
      <legend>Send Read To {{ read.meter.utility_name }} Supplier</legend>
      <input type="hidden" name="read_key" value="{{ read.key() }}">

      <pre>
      From: MtrHub &lt;mtrhub@mtrhub.com&gt;
      To: {{ read.meter.send_read_to }}
      Cc: {{ read.meter.send_read_reader_email }}
      Subject: My {{ read.meter.utility_id }} meter reading

      Hi, I'd like to submit a reading for my {{ read.meter.utility_id }} meter. Details below:

      My Name: {{ read.meter.send_read_name }}
      My Email Address: {{ read.meter.send_read_reader_email }} 
      First Line Of Postal Address Of Meter: {{ read.meter.send_read_address }} 
      Postcode Of Meter: {{ read.meter.send_read_postcode }}
      Account Number: {{ read.meter.send_read_account }}
      Meter Serial Number: {{ read.meter.send_read_msn }}
      Read Date: {{ read.local_read_date().strftime("%Y-%m-%d %H:%M") }}
      Reading: {{ read.value }} {{ read.meter.units }}
      </pre>
      <br>
      <input type="submit" name="send" value="Send">
    </fieldset>
  </form>
{% endblock %}
