{% extends "base.html" %}

{% block title %}MtrHub &gt; Sign In{% endblock %}

{% block nav %}<a id="logo" href="/">MtrHub</a> &gt; Sign In{% endblock %}

{% block login %}{% endblock %}

{% block content %}
<ul>
{% for provider in providers %}
	<li><a href="{{ provider.url }}">{{provider.name}}</a></li>
{% endfor %}
    <li><form action="/_ah/login_redir">
    <input type="hidden" name="continue" value="{{ home_url }}/welcome">
    Open Id <input name="claimid" value="">
    <input type="submit" value="Sign In">
    </form></li>
</ul>
{% endblock %}