{% extends "base.html" %}

{% block title %}MtrHub &gt; Reader: {{ reader.name }}{% endblock %}

{% block nav %}
  Reader: {{ reader.name }}
{% endblock %}

{% block login %}
  <p id="sign-in">
    {% if current_reader %}
      {% if current_reader.key() == reader.key() %}
        {{ current_reader.name }}
      {% else %}
        <a href="/view_reader?reader_key={{ current_reader.key() }}"
        >{{ current_reader.name }}</a>
      {% endif %}
      | <a href="{{ signout_url }}">Sign Out</a>
    {% else %}
      <a href="/sign_in">Sign In</a>
    {% endif %}
  </p>
{% endblock %}

{% block content %} 
  <table>
    <tr>
      <td>Name</td>
      <td>{{ reader.name }}</td>
    </tr>
    <tr>
      <td>Email Addreses</td>
      <td>
        <ul>
          {% for email in reader.emails %}
            <li>{{email}}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>Meters</td>
      <td>
        <ul>
          {% for meter in meters %}
            <li>
              <a
                href="/view_meter?meter_key={{meter.key()}}"
              >{{meter.name}}</a> ({{meter.utility_id}})
            </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>

  {% if current_reader.key() == reader.key() %}
    <p>
      <a href="/reader_settings?reader_key={{reader.key()}}">Update</a>
    </p>
  {% endif %}
{% endblock %}
